# 1a1a11a
__pycache__
*deprecated*
*.DS_Store*
*.bak
*.clean
*.nogit*
*_build*
*.out
build
.idea
example/cacheSimulatorC/cmake-build-debug
.vscode/*
*.log
fig/
result/
data_large/
# Chaos
sftp-config.json
# Clangd cache
*.cache/
.lint-logs/
# Python wheels
*.whl



aggregated_results.csv
grid_search/aggregated_results_conf_1.csv
grid_search/grid_tasks
grid_search/grid_tasks_conf2
feature/collected
feature/feature_tasks
